*{
  font-family: monospace;
}
body{
  font-family: monospace;
  font-size: 20px;
  text-align: center;
  background: navy;
  color: orange;
  margin: 3em;
}
p{
  font-style: italic;
}
.scoreboard {
  width: 14em;
  margin: auto;
  border: 2px dotted orange;
}
.scoreboard h2 {
  border-bottom: 2px solid orange;
  margin: 0;
  padding: 10px;
}
.scoreboard table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
}
.scoreboard th, .scoreboard td {
  text-align: center;
}
.scoreboard td {
  font-size: 3em;
  padding: 0 20px;
}
button{
  background-color: orange;
  color: navy;
}

